<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movies Streaming</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/select2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toast.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loading.css" asp-append-version="true" />


    <!-- Favicons -->
    <link rel="icon" type="image/png" href="~/images/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="~/images/icon/favicon-32x32.png">

    <!--Font Awesome -->
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <meta name="description" content="Online Movies, TV Shows & Cinema">
    <meta name="keywords" content="">
    <meta name="author" content="Fivemandev">
    <title>Movies Streaming – Online Movies, TV Shows & Cinema</title>


</head>
<body>

    @RenderBody()

    <!-- end main content -->
    <!-- JS -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.mousewheel.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
    <script src="~/js/toast.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>