@using MovieWebApp.Utility.Extension.IJSRuntimeExtension
@inject IJSRuntime _JsRuntime;

<h3>Toast JS</h3>

<div>
    <button style="width: 200px;" @onclick="ToastrSuccess">Toastr Success</button>
    <button style="width: 200px;" @onclick="ToastrFailure">Toastr Failure</button>
</div>
<br />
<div>
    <button style="width: 200px;" @onclick="SweetAlertSuccess">SweetAlert Success</button>
    <button style="width: 200px;" @onclick="SweetAlertFailure">SweetAlert Failure</button>
</div>

@code {

    private async Task ToastrSuccess()
    {
        Console.WriteLine("tesst");
        await _JsRuntime.ToastrSuccess("Operation Successful");
    }

    private async Task ToastrFailure()
    {
        await _JsRuntime.ToastrError("Operation Failed");
    }

    private async Task SweetAlertSuccess()
    {
        await _JsRuntime.SwalSuccess("Task completed successfully!");
    }

    private async Task SweetAlertFailure()
    {
        await _JsRuntime.SwalError("Task failed!");
    }

}
