@page
@model MovieWebApp.Pages.Profile.IndexModel
@{
    ViewData["Title"] = "Profile";
}

<!-- page title -->
<section class="section section--first section--bg" data-bg="images/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h1 class="section__title">My Profile</h1>
                    <!-- end section title -->
                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="/">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Profile</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- content -->
<div class="content">
    <!-- profile -->
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="profile__content">
                        <div class="profile__user">
                            <div class="profile__avatar">
                                <img src="~/images/user.svg" alt="">
                            </div>
                            <div class="profile__meta">
                                <h3 class="cut-text">@Model.UserDTO.Profile.FirstName @Model.UserDTO.Profile.LastName
                                </h3>
                                @if (@Model.UserDTO.Authorization.AuthorizationLevel == 1)
                                {
                                    <span class="cut-text">Role: User</span>
                                }
                                else
                                {
                                    <span class="cut-text">Role: Admin</span>
                                }
                            </div>
                        </div>

                        <!-- content tabs nav -->
                        <ul class="nav nav-tabs content__tabs content__tabs--profile" id="content__tabs" role="tablist">

                            <li class="nav-item" role="presentation">
                                <a class="nav-link " data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
                                    aria-selected="false">Subscription</a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" data-toggle="tab" href="#tab-3" role="tab"
                                    aria-controls="tab-3" aria-selected="true">Settings</a>
                            </li>
                        </ul>
                        <!-- end content tabs nav -->
                        <!-- content mobile tabs nav -->
                        <div class="content__mobile-tabs content__mobile-tabs--profile" id="content__mobile-tabs">
                            <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" value="Profile">
                                <span></span>
                            </div>

                            <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                                <ul class="nav nav-tabs" role="tablist">

                                    <li class="nav-item">
                                        <a class="nav-link " id="2-tab" data-toggle="tab" href="#tab-2" role="tab"
                                            aria-controls="tab-2" aria-selected="false">Subscription</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link active" id="3-tab" data-toggle="tab" href="#tab-3" role="tab"
                                            aria-controls="tab-3" aria-selected="true">Settings</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end content mobile tabs nav -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="profile__logout" href="/logout" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                    d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z" />
                                </svg>
                                <span>Logout</span>
                            </a>
                        }
                        else
                        {
                            <a asp-page="/Login/Index" class="header__sign-in profile_signin">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                    d="M20,12a1,1,0,0,0-1-1H11.41l2.3-2.29a1,1,0,1,0-1.42-1.42l-4,4a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l4,4a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L11.41,13H19A1,1,0,0,0,20,12ZM17,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V16a1,1,0,0,0-2,0v3a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V8a1,1,0,0,0,2,0V5A3,3,0,0,0,17,2Z" />
                                </svg>
                                <span>sign in</span>
                            </a>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end profile -->

    <div class="container">
        <!-- content tabs -->
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                <div class="row row--grid">
                    @if (@Model.UserClass == "Basic")
                    {
                        @* <!-- price --> *@
                        <div class="col-12 col-md-6 order-md-1 col-lg-4 order-lg-1">
                            <div class="price price--profile price--premium">
                                <div class="price__item price__item--first"><span>Basic</span> <span>Free</span></div>
                                <div class="price__item"><span>7 days</span></div>
                                <div class="price__item"><span>720p Resolution</span></div>
                                <div class="price__item"><span>Limited Availability</span></div>
                                <div class="price__item"><span>Desktop Only</span></div>
                                <div class="price__item"><span>Limited Support</span></div>
                                <a href="#" class="price__btn disabled-link">Your Plan</a>
                            </div>
                        </div>
                        @* <!-- end price --> *@
                    }
                    else
                    {
                        @* <!-- price --> *@
                        <div class="col-12 col-md-6 order-md-1 col-lg-4 order-lg-1">
                            <div class="price price--profile price--premium">
                                <div class="price__item price__item--first"><span>Basic</span> <span>Free</span></div>
                                <div class="price__item"><span>7 days</span></div>
                                <div class="price__item"><span>720p Resolution</span></div>
                                <div class="price__item"><span>Limited Availability</span></div>
                                <div class="price__item"><span>Desktop Only</span></div>
                                <div class="price__item"><span>Limited Support</span></div>
                                <a href="#" class="price__btn disabled-link">Your Previous Plan</a>
                            </div>
                        </div>
                        @* <!-- end price --> *@
                        @* <!-- price --> *@
                        <div class="col-12 order-md-3 col-lg-4 order-lg-2">
                            <div class="price price--profile price--premium">
                                <div class="price__item price__item--first">
                                    <span>Premium</span> <span>$19.99</span>
                                </div>
                                <div class="price__item"><span>1 Month</span></div>
                                <div class="price__item"><span>Full HD</span></div>
                                <div class="price__item"><span>Lifetime Availability</span></div>
                                <div class="price__item"><span>TV & Desktop</span></div>
                                <div class="price__item"><span>24/7 Support</span></div>
                                <a href="#" class="price__btn disabled-link">Your Plan</a>
                            </div>
                        </div>
                        @* <!-- end price --> *@
                    }


                </div>
            </div>

            <div class="tab-pane fade  show active" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                <div class="row row--grid">
                    <!-- details form -->
                    <div class="col-12 col-lg-6">
                        <form method="post" asp-page-handler="ChangeFirstLastName" class="profile__form">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="profile__title">Profile details</h4>
                                </div>

                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                    <div class="profile__group">
                                        <label class="profile__label" asp-for="UserDTO.UserName"></label>
                                        <input id="username" type="text" asp-for="UserDTO.UserName"
                                            class="profile__input" placeholder="User 123" disabled>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                    <div class="profile__group">
                                        <label class="profile__label" asp-for="UserDTO.Profile.Email"></label>
                                        <input id="email" type="text" asp-for="UserDTO.Profile.Email"
                                            class="profile__input" placeholder="email@email.com" disabled>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                    <div class="profile__group">
                                        <label class="profile__label"
                                            asp-for="ChangeFirstLastNameDTO.FirstName"></label>
                                        <input id="firstname" type="text" asp-for="ChangeFirstLastNameDTO.FirstName"
                                            class="profile__input" placeholder="John" required>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                    <div class="profile__group">
                                        <label class="profile__label" asp-for="ChangeFirstLastNameDTO.LastName"></label>
                                        <input id="lastname" type="text" asp-for="ChangeFirstLastNameDTO.LastName"
                                            class="profile__input" placeholder="Doe" required>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="profile__btn" type="submit" onclick="loading2()">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end details form -->
                    <!-- password form -->
                    <div class="col-12 col-lg-6">
                        <form method="post" asp-page-handler="ChangePassword" class="profile__form">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="profile__title">Change password</h4>
                                </div>

                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                    <div class="profile__group">
                                        <label class="profile__label" asp-for="ChangePasswordDTO.OldPassword">Old
                                            Password</label>
                                        <input id="oldpass" type="password" asp-for="ChangePasswordDTO.OldPassword"
                                            class="profile__input" required>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                    <div class="profile__group">
                                        <label class="profile__label" asp-for="ChangePasswordDTO.NewPassword">New
                                            Password</label>
                                        <input id="newpass" type="password" asp-for="ChangePasswordDTO.NewPassword"
                                            class="profile__input" pattern=".{6,}" required>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                    <div class="profile__group">
                                        <label class="profile__label"
                                            asp-for="ChangePasswordDTO.ConfirmPassword">Confirm New Password</label>
                                        <input id="confirmpass" type="password"
                                            asp-for="ChangePasswordDTO.ConfirmPassword" class="profile__input"
                                            pattern=".{6,}" required>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="profile__btn" type="submit" onclick="loading1()">Change</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end password form -->
                </div>
            </div>
        </div>
        <!-- end content tabs -->
    </div>
</div>
<!-- end content -->
@section Scripts
{
<script>
    var checkMatchPass = false;
    var firstname = document.getElementById("firstname");
    var lastname = document.getElementById("lastname");
    var oldpass = document.getElementById("oldpass");
    var password = document.getElementById("newpass");
    var confirm_password = document.getElementById("confirmpass");

    function validatePassword() {

        if (password.value.length < 6) {
            password.setCustomValidity("Passwords must has geater than 6 character!");
        } else {
            password.setCustomValidity('');
            confirm_password.setCustomValidity('');
        }

        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords don't match");
            checkMatchPass = false;
        } else {
            confirm_password.setCustomValidity('');
            checkMatchPass = true;
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
    function loading1() {
        if (oldpass !== "" && checkMatchPass) {
            loading = document.getElementById("loading");
            loading.hidden = false;
        }
    }
    function loading2() {
        if ((firstname.value != "" && lastname.value != "")) {
            loading = document.getElementById("loading");
            loading.hidden = false;
        }
    }

</script>
}