@page
@model MovieWebApp.Pages.Admin.Support_chat.IndexModel
@{
    ViewData["Title"] = "Manage Support";
    ViewData["name"] = @Model.UserDTO.Profile.FirstName + " " + @Model.UserDTO.Profile.LastName;
}

<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Support message</h2>

                    <span class="main__title-stat">@Model.GetTotalChat Total</span>

                </div>
            </div>
            <!-- end main title -->
            <!-- users -->
            <div class="col-12">
                <div class="main__table-wrap">
                    <table class="main__table">
                        <thead>
                            <tr>
                                <th>SERIAL</th>
                                <th>BASIC INFO</th>
                                <th>MESSAGES</th>
                                <th></th>

                                <th></th>
                                <th></th>
                                <th>Time</th>
                                <th>STATUS</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.UserChats != null)
                            {
                                @for (int i = 0; i < @Model.UserChats.Count; i++)
                                {
                                    @await Html.PartialAsync("Shared/Component/Admin/_SupportsItem",@Model.UserChats[i], new
                            ViewDataDictionary(ViewData) { {"serial", (i + 1)}})
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end users -->
            <!-- paginator -->

        </div>
    </div>
</main>
<!-- end main content -->
<!--boxChat-->
<div class="small_zooomout_container">
</div>
<div class="boxchat_container">
    @* <partial name="Shared/Component/Admin/_SupportsChatBox" /> *@

</div>