@page
@model MovieWebApp.Pages.Admin.Support_chat.IndexModel
@{
    ViewData["Title"] = "Manage Support";
}

<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Support message</h2>

                    <span class="main__title-stat">3,702 Total</span>

                </div>
            </div>
            <!-- end main title -->
            <!-- users -->
            <div class="col-12">
                <div class="main__table-wrap">
                    <table class="main__table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>BASIC INFO</th>
                                <th>MESSAGES</th>
                                <th></th>

                                <th></th>
                                <th></th>
                                <th>Time</th>
                                <th>STATUS</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td>
                                    <div class="main__table-text">31</div>
                                </td>
                                <td>
                                    <div class="main__user">
                                        <div class="main__avatar">
                                            <img src="~/images/user.svg" alt="">
                                        </div>
                                        <div class="main__meta">
                                            <h3>John Doe</h3>
                                            <span>email@email.com</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="main__table-text main_table-content line-clamp">Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLoremIpsumLorem IpsumLorem IpsumLorem IpsumLoremIpsumLorem IpsumLorem IpsumLorem IpsumLorem </div>
                                </td>
                                <td> </td>

                                <td></td>

                                <td></td>

                                <td>
                                    <div class="main__table-text">24 Oct 2019</div>
                                </td>
                                <td>
                                    <div class="main__table-text main__table-text--green">New</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="main__table-text">31</div>
                                </td>
                                <td>
                                    <div class="main__user">
                                        <div class="main__avatar">
                                            <img src="~/images/user.svg" alt="">
                                        </div>
                                        <div class="main__meta">
                                            <h3>John Doe</h3>
                                            <span>email@email.com</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="main__table-text">Lorem Ipsum</div>
                                </td>
                                <td> </td>

                                <td></td>

                                <td></td>

                                <td>
                                    <div class="main__table-text">24 Oct 2019</div>
                                </td>
                                <td>
                                    <div class="main__table-text main__table-text--red">Old</div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end users -->
            <!-- paginator -->

        </div>
    </div>
</main>
<!-- end main content -->
<!--boxChat-->
<div class="small_zooomout_container">
</div>
<div class="boxchat_container">
    <div class="boxchat">
        <div class="boxchat_header">
            <div class="boxchat_header_title">
                <a href="/admin/edit-user/99b8a1ab-1302-4443-9ef7-95fae52b4938">
                    <span class="boxchat_header_title_img wh_wrap_header">
                        <img src="~/images/avatarYen.jpg" alt="" class="custom_image" />
                    </span>
                    <span class="boxchat_header_title_username"> Hong Yen </span>
                </a>
            </div>

            <div class="boxchat_header_icon">
                <span class="zoomout icon"><i class="fas fa-minus"></i></span>
                <span class="exit icon"><i class="fas fa-times"></i></span>
            </div>
        </div>

        <div class="boxchat_inner">
            <div class="otheruser">
                <div class="otheruser_image wh_wrap_inner">
                    <img src="~/images/avatarYen.jpg" alt="" class="custom_image" />
                </div>
                <div class="otheruser_chat">
                    <span class="otheruser_chat_message">ahihiiiiiiiiiiiiiiiiiiii2</span>
                    <span class="otheruser_chat_message">ahihiiiiiiiiiiiiiiiiiiii2</span>
                    <span class="otheruser_chat_message">ahihiiiiiiiiiiiiiiiiiiii2</span>
                </div>
            </div>
            <div class="owneruser">
                <div class="owneruser_chat">
                    <span class="owneruser_chat_message">ahihiiiiiiiiiiiiiiiiiiii2</span>
                    <span class="owneruser_chat_message">ahihiiiiiiiiiiiiiiiiiiii2</span>
                    <span class="owneruser_chat_message">ahihiiiiiiiiiiiiiiiiiiii2</span>
                    <span class="owneruser_chat_message">ahihiiiiiiiiiiiiiiiiiiii2</span>
                </div>
            </div>
        </div>

        <div class="boxchat_footer">
            <div class="boxchat_footer_groupinput">
                <div class="boxchat_footer_input">

                    <textarea name=""
                              id="textbox"
                              class="textbox"
                              placeholder="Type your messages..."
                              rows="1"></textarea>
                </div>
                <div class="boxchat_footer_sender">
                    <button type="button" class="form__btn_chat">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>