<tr>
    <td>
        <div class="main__table-text">23</div>
    </td>
    <td>
        <div class="main__table-text">I Dream in Another Language</div>
    </td>
    <td>
        <div class="main__table-text">John Doe</div>
    </td>
    <td>
        <div class="main__table-text main__table-text--rate">7.2</div>
    </td>
</tr>