<tr>
    <td>
        <div class="main__table-text">23</div>
    </td>
    <td>
        <div class="main__table-text">John Doe</div>
    </td>
    <td>
        <div class="main__table-text main__table-text--grey">email@email.com</div>
    </td>
    <td>
        <div class="main__table-text">Username</div>
    </td>
</tr>