<tr>
    <td>
        <div class="main__table-text">26</div>
    </td>
    <td>
        <div class="main__table-text">I Dream in Another Language</div>
    </td>
    <td>
        <div class="main__table-text">Movie</div>
    </td>
    <td>
        <div class="main__table-text main__table-text--green">Visible</div>
    </td>
</tr>