<div class="otheruser">
    <div class="otheruser_image wh_wrap_inner">
        <img src="~/images/avatarYen.jpg" alt="" class="custom_image" />
    </div>
    <div class="otheruser_chat">
        <span class="otheruser_chat_message">ahihiiiiiiiiiiiiiiiiiiii2</span>
    </div>
</div>