<div class="boxchat">
    <div class="boxchat_header">
        <div class="boxchat_header_title">
            <a href="/admin/edit-user/99b8a1ab-1302-4443-9ef7-95fae52b4938">
                <span class="boxchat_header_title_img wh_wrap_header">
                    <img src="~/images/avatarYen.jpg" alt="" class="custom_image" />
                </span>
                <span class="boxchat_header_title_username"> Hong Yen </span>
            </a>
        </div>

        <div class="boxchat_header_icon">
            <span class="zoomout icon"><i class="fas fa-minus"></i></span>
            <span class="exit icon"><i class="fas fa-times"></i></span>
        </div>
    </div>

    <div class="boxchat_inner">
        <!--Other user-->
        <partial name="Shared/Component/Admin/_SupportsChatOtheruserMessage" />
        <partial name="Shared/Component/Admin/_SupportsChatOtheruserMessage" />
        <partial name="Shared/Component/Admin/_SupportsChatOtheruserMessage" />
        <!--End other user-->
        <!--Owner user-->
        <partial name="Shared/Component/Admin/_SupportsChatOwneruserMessage" />
        <partial name="Shared/Component/Admin/_SupportsChatOwneruserMessage" />
        <partial name="Shared/Component/Admin/_SupportsChatOwneruserMessage" />
        <!--End owner user-->
    </div>

    <div class="boxchat_footer">
        <div class="boxchat_footer_groupinput">
            <div class="boxchat_footer_input">

                <textarea name="" id="textbox" class="textbox" placeholder="Type your messages..." rows="1"></textarea>
            </div>
            <div class="boxchat_footer_sender">
                <button type="button" class="form__btn_chat">Send</button>
            </div>
        </div>
    </div>
</div>